scripts/data/states.p
bags/*.bags

bags/2023-12-20-13-28-12.bag
scripts/__pycache__/quad_control.cpython-38.pyc
scripts/__pycache__/quad_control.cpython-38.pyc
scripts/__pycache__/quad_control.cpython-38.pyc
scripts/data/states.p
scripts/data/trajectory_3.p
bags/dados.bag
bags/dados/desired_trajectory.csv
bags/dados/quad-kf-attitude.csv
bags/dados/quad-kf-euler.csv
bags/dados/quad-kf-position.csv
bags/dados/quad-kf-vel.csv
scripts/__pycache__/quad_control.cpython-38.pyc
scripts/data/states.p
scripts/data/trajectory_3.p
