matplotlib==3.7.4
matplotlib==3.1.2
message_filters==1.16.0
numpy==1.24.4
numpy==1.17.4
pandas==2.0.3
py3rosmsgs==1.18.2
roslaunch==1.16.0
rospkg==1.5.0
rospkg_modules==1.5.0
rospy==1.16.0
scikit_learn==1.4.0
scipy==1.12.0
sensor_msgs==1.13.1
